# go-winres generated
*.syso
winres/

# else
/src/icons/
/LDT.exe
.idea
/node_modules/
/build/bin
/frontend/dist
/appdata/userdata/
/frontend/node_modules/
/appdata/depotDownloader/
/appdata/assemblies/
